"*":
  editor:
    invisibles: {}
    preferredLineLength: 100
    fontSize: 13
    showInvisibles: true
    showIndentGuide: true
  core:
    themes: [
      "atom-dark-ui"
      "solarized-dark-syntax"
    ]
  "exception-reporting":
    userId: "5e43159c-0af7-4614-979c-e04f25a71578"
  welcome:
    showOnStartup: false
  linter: {}
  "atom-beautify":
    _analyticsUserId: "65f4271a-cd10-4224-b2bd-ee72bc113080"
  "vim-mode":
    startInInsertMode: true
  minimap: {}
  "git-log":
    fontScale: 0.8
